// UNIVERSAL STYLING ////////////////////////////
/////////////////////////////////////////////////
body {
	background: #233a40; 
}

// TWINKLE LAYER ////////////////////////////////
/////////////////////////////////////////////////
.layer{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

// HERO TEXT ////////////////////////////////////
/////////////////////////////////////////////////
.herotext { 
	font: 36px/0.75 'Lato', sans-serif;
	margin: 5% auto 5%;
	text-align: center;
}

.FtG {
	font-family: 'Fredericka the Great', cursive;
	text-shadow:	#253e45 -1px 1px 0,
								#253e45 -2px 2px 0,
								#d45848 -3px 3px 0,
								#d45848 -4px 4px 0;
}

// NAVIGATION & BUTTON STYLING //////////////////
/////////////////////////////////////////////////
.nav {text-align: center;} //nav buttons

.button {
	font: 1.125em 'Lato', sans-serif;
	letter-spacing: 0.075em;
	font-style: normal;
	background: rgba(0,0,0,0.2);
	border-radius: 7px;
	margin: 5px;

	&:hover {
    -webkit-box-shadow:inset 0px 0px 0px 1px #fff;
    -moz-box-shadow:inset 0px 0px 0px 1px #fff;
    box-shadow:inset 0px 0px 0px 1px #fff;
	}
}

// ABOUT SECTION ////////////////////////////////
/////////////////////////////////////////////////
.profile-photo {
	text-align: center;
	img {	border-radius: 50%; }
}

.first-p {
	font-size: 36px;
	color: #d45848;
	margin: 0;
}

.centeredText { text-align: center; }

// SKILLS SECTION ///////////////////////////////
.empty { clear: both; }

// WORK SECTION /////////////////////////////////
#cool:hover { fill: #007ba0; }

// TYPOGRAPHY ///////////////////////////////////
/////////////////////////////////////////////////
// LINKS ////////////////////
a {
	color: #fff;
	font-style: italic;
}

// BIG HEADER & TEXT ////////
h2 {
	margin: 20px 0;
	color:#fff;
	letter-spacing: 0.1em;
	font-family: 'Fredericka the Great', cursive;
	text-shadow:	#253e45 -1px 1px 0,
								#253e45 -2px 2px 0,
								#d45848 -3px 3px 0,
								#d45848 -4px 4px 0;
	text-align: center;
}

p {
	font: 1.125em/1.8 'Lato', sans-serif;
	letter-spacing: 0.075em;
	color:#fff;
}

// SMALLER HEADER & TEXT ////
h5 {
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.1em;
	margin-top: 18px;
	color:#d45848;
}

hr { margin: 4px 0; }

ul, li {
	list-style-type: none;
	font: 14px/1.8 'Lato', sans-serif;
	letter-spacing: 0.075em;
	color:#fff;
	margin: 0;
}

#skills p {
	font: 14px/1.8 'Lato', sans-serif;
	letter-spacing: 0.075em;
}

.nopadding { padding: 0;}

// FOOTER ///////////////////////////////////////
/////////////////////////////////////////////////
#last {margin-bottom: 40px;} //adds space for footer

.footer {
	background: rgba(0,0,0,0.2);
	padding-bottom: 20px;

	p, a {
		font: 14px/1.8 'Lato', sans-serif;
		letter-spacing: 0.075em;
	}

	img {
		height: 24px;
		margin-right: 8px;
	}
}

// ICON ROTATE //////////////////////////////////
/////////////////////////////////////////////////
.icon {
	height: 24px;

	&:hover {
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg);

		-webkit-transform-origin:center;
		-moz-transform:center;
		-o-transform-origin:center;
		transform-origin:center;

		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}
}

// PULSATING HEART //////////////////////////////
/////////////////////////////////////////////////
.heart {
	color: #d45848;
	-webkit-animation: heart 1s linear infinite;
	-moz-animation: heart 1s linear infinite;
	-ms-animation: heart 1s linear infinite;
	animation: heart 1s linear infinite;
}

@keyframes "heart" {
 0% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
 }
 50% {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
 }
 100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
 }
}

@-moz-keyframes heart {
 0% {
	 -moz-transform: scale(1.1);
	 transform: scale(1.1);
 }
 50% {
	 -moz-transform: scale(0.8);
	 transform: scale(0.8);
 }
 100% {
	 -moz-transform: scale(1);
	 transform: scale(1);
 }
}

@-webkit-keyframes "heart" {
 0% {
	 -webkit-transform: scale(1.1);
	 transform: scale(1.1);
 }
 50% {
	 -webkit-transform: scale(0.8);
	 transform: scale(0.8);
 }
 100% {
	 -webkit-transform: scale(1);
	 transform: scale(1);
 }
}

@-ms-keyframes "heart" {
 0% {
	 -ms-transform: scale(1.1);
	 transform: scale(1.1);
 }
 50% {
	 -ms-transform: scale(0.8);
	 transform: scale(0.8);
 }
 100% {
	 -ms-transform: scale(1);
	 transform: scale(1);
 }
}